{% load staticfiles %}
{% load translation_extras %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'translations/css/translations.css' %}">
    <link rel="stylesheet" href="{% static 'translations/css/modal-add.css' %}">
    <link rel="stylesheet" href="{% static 'translations/css/open-iconic/font/css/open-iconic-bootstrap.css' %}">
    <script src="{% static 'translations/js/holder/holder.js' %}"></script>
    <title>Surdstream</title>
  </head>
  <body>

    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
      <!-- Navbar content -->
      <a class="navbar-brand" href="#">Surdstream</a>
      <div class="container">
        <ul class="navbar-nav navbar-dark">
          <li class="nav-item"><a class="nav-link" href='#'>Главная</a></li>
          <li class="nav-item"><a class="nav-link" href='#'>Список слов</a></li>
          <li class="nav-item"><a class="nav-link" href='#'>О нас</a></li>
          <li class="nav-item"><a class="nav-link" href='#'>F.A.Q</a></li>
        </ul>
      </div>

      <!-- AFTER LOGIN -->
      <div id="menu-logout" {% if not user.is_authenticated %} hidden {% endif %}>
        <p align="right"><a id="logout-link" href="{% url 'logout' %}">LOGOUT</a></p>

        <a class="nav-image ml-2" href="#" title="Добавить слово" data-toggle="modal" data-target="#exampleModalCenter">
          <img class="rounded-circle" src="{% static 'translations/img/plus.png' %}"/>
        </a>

        <a class="nav-image ml-2" href="#">
          <img class="rounded-circle" src="holder.js/50x50"/>
          <span class="oi oi-menu" title="menu" aria-hidden="true"></span>
        </a>
      </div>

      <!-- BEFORE LOGIN -->
      <div id="menu-login" {% if user.is_authenticated %} hidden {% endif %}>
        <div>
          <button id="logInButton">Log In</button>
          <button id="signInButton">Sign In</button>
        </div>
        <div>

        </div>
      </div>
    </nav>

    <div class="jumbotron jumbotron-fluid search-div">
      <div class="container-fluid" id="search">
        <div class="container">
          <div class="row">
            <h1 class="col-4 display-3 px-4">Поиск</h1>
            <input class="col-8 px-4 border border-warning" type="search" placeholder="Введите слово" aria-label="Search">
          </div>
        </div>
      </div>
      <div class="container-fluid" id="logIn">
        <div class="container">
          <button id="closeLogInButton" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <form id="login-form" method="post" action="{% url 'login' %}">
            <p id="login-error" hidden>Your username and password didn't match. Please try again.</p>
            {{ login_form.username|add_class:"form-control" }}
            {{ login_form.password|add_class:"form-control" }}
            <button type="submit">Submit</button>
          </form>
          {% comment %}
          <form>
            <input type="text" placeholder="Email" />
            <input type="password" placeholder="password" />
            <button>Submit</button>
          </form>
          {% endcomment %}
        </div>
      </div>
      <div class="container-fluid" id="signIn">
        <div class="container">
          <button id="closeSignInButton" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <form id="signup-form" method="post" action="{% url 'signup' %}">
            <p id="signup-error" hidden>Error</p>
            {{ signup_form.username|add_class:"form-control" }}
            {{ signup_form.email|add_class:"form-control" }}
            {{ signup_form.password1|add_class:"form-control" }}
            {{ signup_form.password2|add_class:"form-control" }}
            <button type="submit">Submit</button>
          </form>
          {% comment %}
          <form>
            <input type="text" placeholder="Email" />
            <input type="password" placeholder="Password" />
            <input type="password" placeholder="Confirm" />
            <button>Submit</button>
          </form>
          {% endcomment %}
        </div>
      </div>
    </div>

    {% block content %}

    {% endblock %}

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Добавить слово</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label for="word-list">Слова:</label><input name="word-list" type="text" /></br>
            <label for="word-video">Видео:</label><input name="word-video" type="file" />
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-primary">Сохранить</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
			  src="https://code.jquery.com/jquery-3.3.0.min.js"
			  integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4="
			  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src="{% static 'translations/js/main.js' %}"></script>
    <script src="{% static 'translations/js/modal-add.js' %}"></script>
    <script src="{% static 'translations/js/ajax-handlers.js' %}"></script>
  </body>
</html>
