{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'translations/css/translations.css' %}">
    <script src="{% static 'translations/js/holder/holder.js' %}"></script>
    <title>Surdstream</title>
  </head>
  <body>

    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
      <!-- Navbar content -->
      <a class="navbar-brand" href="#">Surdstream</a>
      <div class="container">
        <ul class="navbar-nav navbar-dark">
          <li class="nav-item"><a class="nav-link" href='#'>Главная</a></li>
          <li class="nav-item"><a class="nav-link" href='#'>Список слов</a></li>
          <li class="nav-item"><a class="nav-link" href='#'>О нас</a></li>
          <li class="nav-item"><a class="nav-link" href='#'>F.A.Q</a></li>
        </ul>
      </div>
      <!--
      <a class="ml-2" href="#">
        <img class="rounded-circle" src="holder.js/50x50"/>
      </a>
      <a class="ml-2" href="#">
        <img class="rounded-circle" src="holder.js/50x50"/>
      </a>-->
      <div id="menu_login">
        <div>
          <button id="logInButton">Log In</button>
          <button id="signInButton">Sign In</button>
        </div>
        <div>
          Авторизация
        </div>
      </div>
    </nav>

    <div class="jumbotron jumbotron-fluid search-div">
      <div class="container-fluid" id="search">
        <div class="container">
          <div class="row">
            <h1 class="col-4 display-3 px-4">Поиск</h1>
            <input class="col-8 px-4 border border-warning" type="search" placeholder="Введите слово" aria-label="Search">
          </div>
        </div>
      </div>
      <div class="container-fluid" id="logIn">
        <div class="container">
          <button id="closeLogInButton">Close</button>
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      <div class="container-fluid" id="signIn">
        <div class="container">
          <button id="closeSignInButton">Close Sign</button>
        </div>
      </div>
    </div>

    {% block content %}

    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
			  src="https://code.jquery.com/jquery-3.3.0.min.js"
			  integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4="
			  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src="{% static 'translations/js/main.js' %}"></script>
  </body>
</html>
