{% extends "base.html" %}
{% block content %}

{% load static %}

{{ word }}
{% for video, user_vote in videos_and_votes %}
    <br>
    <video width="300" height="300" controls autoplay>
        <source src="{{ video.video_file.url }}" type="video/webm">
    </video>
    <br>
    Votes: <span id="total-votes">{{ video.votes }}</span>
    <br>
    {% if user.is_authenticated %}
        User vote: <span id="user-vote">{{ user_vote }}</span>

        <button name="vote" value="1"
                id="vote-up" class="js-process-vote"
                vote-url="{% url 'translations:vote' video.id %}"
                {% if user_vote == 1 %} disabled {% endif %}>Vote up</button>
        <button name="vote" value="-1"
                id="vote-down" class="js-process-vote"
                vote-url="{% url 'translations:vote' video.id %}"
                {% if user_vote == -1 %} disabled {% endif %}>Vote down</button>
    {% else %}
        User not logged in
        <button name="vote" value="1" title="Login, please" disabled>Vote up</button>
        <button name="vote" value="-1" title="Login, please" disabled>Vote down</button>
    {% endif %}

    <br>
    {% for word_video in video.words.all %}
        {{ word_video }};
    {% endfor %}
    <br>
{% endfor %}

<script src="https://code.jquery.com/jquery-3.3.0.min.js"
        integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4="
        crossorigin="anonymous"></script>
<script src="{% static 'translations/js/ajax-handlers.js' %}"></script>

{% endblock %}