<nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="#">Surdstream</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#main-page">Главная<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#wordlist">Все слова</a>
      <a class="nav-item nav-link" href="#questions">Вопросы</a>
      <a class="nav-item nav-link" href="#profile">Профиль</a>
      <div class="row mx-0">
        <div class="col-6 pr-1 pl-0">
          <button type="button" style="width:100%;" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">
            Вход
          </button>
        </div>
        <div class="col-6 pl-1 pr-0">
          <button type="button" style="width:100%;" class="btn btn-secondary" data-toggle="modal" data-target="#signIn">
            Регистрация
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
