{% extends 'translations/base.html' %}

  {% block content %}

    <div class="container">
          <h4>Последние видео</h4>
          <ul>
            <li>
              <div class='row publication'>
                <p class="col-6 text-left"><span>+</span><span>Рука&nbsp;</span>нога,тело,мерка</p>
                <p class="col-6 text-right">Author</p>
                <div class="col-12 video_placeholder">
                  <div class="row">
                    <div class="col-6 text-center">
                      <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                      <p><a href='#'>+</a>&nbsp;<span>9999</span>&nbsp;<a href='#'>-</a></p>
                    </div>
                    <div class="col-6">
                      <div style="height:70%; background-color:blue">
                        <p>Comment1</p>
                        <p>Comment2</p>
                      </div>
                      <div style="height:30%; background-color:green">
                        <input type='text'/>
                        <button>Send</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
    </div>



  {% endblock %}
