{% load widget_tweaks %}

<!-- LOG IN -->
<div class="modal fade" id="logInModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Авторизация</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="login-form" method="post" action="{% url 'login' %}">
          <p id="login-error" hidden>Your username and password didn't match. Please try again.</p>
          <div class="form-group">
            <label for="username">Email address</label>
            {{ login_form.username| add_class:"form-control"| attr:"placeholder:Email" }}
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            {{ login_form.password|add_class:"form-control"| attr:"placeholder:Password" }}
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Запомнить меня</label>
          </div>
          <a class="small" href="#">Восстановление пароля</a>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
            <button type="submit" class="btn btn-primary">Отправить</button>
          </div>
        </form>
        {% comment %}
        <form>
          <input type="text" placeholder="Email" />
          <input type="password" placeholder="password" />
          <button>Submit</button>
        </form>
        {% endcomment %}
      </div>
    </div>
  </div>
</div>
