<div id="main-page">

  <!-- SEARCH -->
  <div id="search" class="container">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="container">
        <div class="row">
          <a style="position:relative; background-color:red;" class="col-3" href="#carouselExampleControls" role="button" data-slide="prev">
            <i class="fas fa-angle-left fa-2x"></i>
            <span class="px-2">Previous</span>
          </a>
          <p class="col-6 text-center">
            Лучшее
          </p>
          <a style="position:relative; background-color:red;" class="col-3 text-right" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="px-2">Next</span>
            <i class="fas fa-angle-right fa-2x"></i>
          </a>
        </div>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          {% comment %}
            <img class="d-block w-100" src="holder.js/1920x300?text=First slide&random=yes">
          {% endcomment %}

          <div class="container">
            <div class="row">
              {% include "translations/video-link.html" %}
              {% include "translations/video-link.html" %}
            </div>
          </div>

        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="holder.js/1920x300?text=Second slide&random=yes">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="holder.js/1920x300?text=Third slide&random=yes">
        </div>
      </div>
    </div>
  </div>
</div>
