<div id="profile" style="display:none">
  <div class="row">
    <img src="holder.js/58x58" class="col-xs-auto rounded-circle" width="50px" height="50px"/>

    <div class="col row username">
      <p class="col-12 text-left">Alexionby</p>
      <p class="col-12 text-left">Алексей Глинский</p>
    </div>
    <i style="color:gray;" class="col-xs-auto fas fa-cog fa-3x #fa-spin"></i>
  </div>
  <h5>Статистика:</h5>
  <p>
    Рейтинг........................<span class="text-right">768</span>
  </p>
  <div class="row">
    <span class="col-12" style="padding:0">Мои публикации:</span>
    <button type="button" class="col-6 btn btn-outline-success rounded-0 rounded-left">Видео</button>
    <button type="button" class="col-6 btn btn-outline-warning rounded-0 rounded-right">Комментарии</button>
  </div>
    <button type="button" class="btn btn-secondary btn-block">Выйти</button>
</div>
