<div class="container col-md-6 col-12">
    <div class="row border border-warning border-right-0 pt-2 px-2">
      <div class="col-md-6 col-6 px-0 h-75">
        <a href="#testiModal" data-toggle="modal" class="d-block">
          <iframe width="100%" class="h-50" style="pointer-events:none"
          src="https://www.youtube.com/embed/tgbNymZ7vqY">
          </iframe>
        </a>
      </div>
      <div class="col-md-6 col-6 d-flex align-items-start flex-column">
        <a href="#" class="m-0">Video name</a>
        <span class=""><a href="#" class=""><u>Author</u></a>&nbsp;<small>2 hours ago</small></span>
        <span class="">
          <span class="badge badge-pill badge-warning">Minsk</span>
          <span class="badge badge-pill badge-dark">Tag 2</span>
          <span class="badge badge-pill badge-dark">Tag 3</span>
          <span class="badge badge-pill badge-dark">Tag 4</span>
          <span class="badge badge-pill badge-dark">Tag 5</span>
        </span>
        <span class="mt-auto mb-2">
          <span type="button" class="badge badge-secondary">
            Comments <span class="badge badge-light">9</span>
            <span class="sr-only">unread messages</span>
          </span>
        </span>
      </div>
    </div>
</div>
